/* Link color */
#manageLink{
  color: white!important;
}

.main-header {
  font-size: large;
  text-decoration: underline;
  font-weight: bold;
}

.table-label {
  font-weight:bold;
  font-size:large;
}

#fileSelectedButton {
  background-color: #f0f8ff;
  width: 70%;
  border-width:1.5px;
}

#import-button {
  display: block; font-weight: bold; font-size: 110%; width: 100%;
}