html {
    background: #1a1e21;
}

label[for="dt-search-0"]{
    font-weight: bold;
}

.dt-empty{
    text-align: left !important;
    padding-left: 78px !important;
}

#dt-search-0{
    /* width: 750px; */
    width: 500px;
    height: 30px;
    background-color: #f0f8ff;
}

label[for="dt-search-1"]{
    font-weight: bold;
}

#dt-search-1{
    width: 750px;
    height: 30px;
    background-color: #f0f8ff;
}

tfoot input {
    width: 100%;
    padding: 3px;
    background-color: #f0f8ff!important;
}

.raised-container {
    background-color: #efefef;
    border-radius: 5px;
    border-width: 1.5px;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.blue-btn {
    background-color: #0d6efd;
    color:#ffffff;
    border-radius: 5px;
    border-width: 0;
}

.blue-btn:hover {
    background-color: #0b5ed7;
}

.green-btn {
    background-color: #33b249;
    color:#ffffff;
    border-radius: 5px;
    border-width: 0;
}

.green-btn:hover {
    background-color: #247e34;
}

.red-btn {
    background-color: #e13647;
    color:#ffffff;
    border-radius: 5px;
    border-width: 0;
}

.red-btn:hover {
    background-color: #bb2d3b;
}

.gray-btn {
    background-color: #dfdfdf;
    color:#000000;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: #ccc;
    border-style: solid;
}

.gray-btn:hover {
    background-color: #dddddd;
}

.purple-btn {
    background-color: #8728d7;
    color:#ffffff;
    border-radius: 5px;
    border-width: 0;
}

.purple-btn:hover {
    background-color: #8728d7;
}

.yellow-btn {
    background-color: #ffbd03;
    color:#ffffff;
    border-radius: 5px;
    border-width: 0;  
}

.yellow-btn:hover {
    background-color: #cc9702;
}