{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/entry.css') }}">
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var entries = JSON.parse('{{ entriesRowsJSON | safe }}');
</script>

<script src="{{ url_for('static', filename='scripts/entry.js') }}"></script>

{% endblock %}

{% block content %}

<!-- Flashed Message Display -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-message alert alert-{{ messages[0][0] }} show" role="alert">
            {{ messages[0][1] }}
        </div>
    {% endif %}
{% endwith %}

<div class="container-fluid">
    <div class="row">
        <div class="form-col col-4">
            <div class="form-container">
                <form action="/submit" method="post">
                    <div class="row border rounded">
                        <div class="col-6">
                            <b>TRI Incident: </b><input type="text" class="form-field" readonly id="incNum" name="incNum" placeholder="Incident #"><br>
                        </div>

                        <div class="col-6">
                            <b>Interaction: </b><input type="text" class="form-field" readonly id="intNum" name="intNum" placeholder="Interaction #"><br>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>VIDEO OF FORCE INCIDENT:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-3">
                                    <input type="radio" name="VIDEO OF FORCE INCIDENT" value="YES"> YES 
                                </div>
                                <div class="col-3">
                                    <input type="radio" name="VIDEO OF FORCE INCIDENT" value="NO"> NO 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="VIDEO OF FORCE INCIDENT" value="NO VIDEO"> NO VIDEO<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>GOOD?</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col">
                                    <input type="radio" name="GOOD" value="YES"> YES 
                                </div>
                                <div class="col">
                                    <input type="radio" name="GOOD" value="NO"> NO<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>BWC COMMAND: </b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col">
                                    <input type="radio" name="BWC COMMAND" value="YES"> YES     
                                </div>
                                <div class="col">
                                    <input type="radio" name="BWC COMMAND" value="NO"> NO<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>BWC USER AT TIME OF INCIDENT:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col">
                                    <input type="radio" name="BWC USER AT TIME OF INCIDENT" value="YES"> YES 
                                </div>
                                <div class="col">
                                    <input type="radio" name="BWC USER AT TIME OF INCIDENT" value="NO"> NO<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>FORCE INCIDENT SERIAL NUMBER & LINKS:</b>
                        </div>
                    </div>

                    <div class="row border rounded">
                        <div class="col rounded center-block text-center">
                            <textarea name="fiSerial" id="fiSerial" class="form-control" placeholder="Serial #:" cols="35" rows="1"></textarea>
                        </div>
                        <div class="col rounded center-block text-center">
                            <textarea name="fiLink" id="fiLink" class="form-control" placeholder="Link:" cols="35" rows="1"></textarea>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>LATE ACTIVATION:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="LATE ACTIVATION" value="YES"> YES
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="LATE ACTIVATION" value="NO"> NO<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>EARLY DEACTIVATION:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="EARLY DEACTIVATION" value="YES"> YES 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="EARLY DEACTIVATION" value="NO"> NO<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>SHARED WITH ADA?:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="SHARED WITH ADA" value="YES"> YES 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="SHARED WITH ADA" value="NO"> NO<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>VIDEO CATEGORIZED AS FORCE INCIDENT:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="VIDEO CATEGORIZED AS FORCE INCIDENT" value="YES"> YES 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="VIDEO CATEGORIZED AS FORCE INCIDENT" value="NO"> NO<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>TRI NUMBER ENTERED IN METADATA:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="TRI NUMBER ENTERED IN METADATA" value="YES"> YES 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="TRI NUMBER ENTERED IN METADATA" value="NO"> NO<br><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>MULTIPLE VIDEOS OF INCIDENT BY USER:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="MULTIPLE VIDEOS OF INCIDENT BY USER" value="YES"> YES 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="MULTIPLE VIDEOS OF INCIDENT BY USER" value="NO"> NO<br><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>ALL EVIDENCE SERIAL NUMBERS & LINKS:</b><br>
                        </div>
                    </div>

                    <div class="row border rounded">
                        <div class="col rounded center-block text-center">
                            <textarea name="allSerial" class="form-control" id="allSerial" placeholder="Serial #:" cols="35" rows="1"></textarea>
                        </div>
                        <div class="col rounded center-block text-center">
                            <textarea name="allLink" class="form-control" id="allLink" placeholder="Links:" cols="35" rows="1"></textarea>
                        </div>
                        <label class="subtle-text">(Comma Separated)</label>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col rounded center-block text-center">
                            <input type="submit" class="submit-btn blue-btn" value="Submit" onclick="if (document.getElementById('intKey').value == null || document.getElementById('intKey').value == ''){ return confirm('NO INTERACTION HAS BEEN SELECTED!');}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <b>Interaction UID: </b><input type="text" class="form-field" readonly id="intKey" name="intKey" placeholder="UID">
                        </div>

                        <div class="col" style="display:none;">
                            <input type="text" class="form-field" readonly id="interactionIndex" name="interactionIndex" placeholder="index">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <b>Entry UID: </b><input type="text" class="form-field" readonly id="entryUID" name="entryUID" placeholder="UID">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="table-container">
                    <div class="table-responsive">
                        <table id="data" class="table nowrap table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Index</th>
                                    <th>TRI Interaction Key</th>
                                    <th>TRI Incident Number</th>
                                    <th>TRI Interaction Number</th>
                                    <th>MOS Command Description</th>
                                    <th>MOS Rank Code</th>
                                    <th>MOS Full Name</th>
                                    <th>MOS Tax Number</th>
                                    <th>Occurrence Date</th>
                                    <th>Occurrence Time</th>
                                    <th>TRI Level</th>
                                    <th>Encounter Type Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Search:</th>
                                    <th>Index</th>
                                    <th>TRI Interaction Key</th>
                                    <th>TRI Incident Number</th>
                                    <th>TRI Interaction Number</th>
                                    <th>MOS Command Description</th>
                                    <th>MOS Rank Code</th>
                                    <th>MOS Full Name</th>
                                    <th>MOS Tax Number</th>
                                    <th>Occurrence Date</th>
                                    <th>Occurrence Time</th>
                                    <th>TRI Level</th>
                                    <th>Encounter Type Description</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}