{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/manage.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Flashed Message Display -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-message alert alert-{{ messages[0][0] }} show" role="alert">
            {{ messages[0][1] }}
        </div>
    {% endif %}
{% endwith %}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">

            <!-- Update -->
            <div class="row">
                <div class="form-col">
                    <div class="row border rounded">
                        <label class="form-label text-center main-header">Update:</label>
                    </div>
                    <br>

                    <!-- Import -->
                    <div class="row">
                        <form action="/import" method="post" enctype="multipart/form-data">
                            <div class="row border rounded">
                                <label class="form-label text-center"><b>Import New Data:</b></label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="blue-btn" onclick="document.getElementById('getFile').click();">&lt;Click to Choose File:&gt;</button>
                                    <input type='file' name='file' id="getFile" style="display:none" accept=".csv, .xls, .xlsx" onchange="document.getElementById('fileSelected').value = document.getElementById('getFile').value.replace(/C:\\fakepath\\/, '');">
                                    <input type="text" class="border rounded" id="fileSelectedButton" readonly>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <input type="submit" value="Import" class="submit-btn green-btn" onclick="return confirm('WARNING: Are you sure you want to import new data?')">
                                </div>
                            </div>   
                        </form>
                    </div>

                    <br>

                    <!-- Clear -->
                    <div class="row">
                        <form action="/clear" method="post">
                            <div class="row border rounded">
                                <label class="form-label text-center"><b>Clear Selected Tables:</b></label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center border rounded">
                                        <input type="checkbox" name="interactionsCheck" id="interactionsCheck" value="clearInt">
                                        <label class="table-label prevent-select" for="interactionsCheck">Interactions</label>    
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="text-center border rounded">
                                        <input type="checkbox" name="entriesCheck" id="entriesCheck" value="clearEnt">
                                        <label class="table-label prevent-select" for="entriesCheck">Entries</label>
                                    </div>
                                </div>
                            </div>   
                            <div class="row">
                                <div class="col">
                                    <input type="submit" value="Clear" class="submit-btn red-btn" onclick="return confirm('WARNING: Are you sure you want to clear the database?')">
                                </div>
                            </div>                 
                        </form>
                    </div>
                    <br>
                </div>
            </div>

            <br>

            <!-- Finalize -->
            <div class="row">
                <div class="form-col">
                    <div class="row border rounded">
                            <label class="form-label text-center main-header">Finalize:</label>
                    </div>
                    <br>

                    <!-- Commit -->
                    <div class="row">
                        <div class="raised-container">
                        <form action="/commit">
                                <div class="row border rounded">
                                    <label class="form-label text-center"><b>Commit to Master Database:</b></label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="submit" value="Commit" class="submit-btn blue-btn" onclick="return confirm('Are you sure you want to commit the data to the master database?')">
                                    </div>
                                </div>       
                        </form>
                        </div>
                    </div>

                    <br>
                    <!-- Export  -->
                    <div class="row">
                        <div class="raised-container">
                            <form action="/export">
                                <div class="row border rounded">
                                    <label class="form-label text-center"><b>Export to Excel file:</b></label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="submit" value="Export" class="submit-btn blue-btn" onclick="return confirm('Are you sure you want to export the data to an Excel file?')">
                                    </div>
                                </div>                 
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <!-- Manage -->
            <div class="row">
                <div class="form-col">
                    <div class="row border rounded">
                        <label class="form-label text-center main-header">Manage:</label>
                    </div>
                    <br>

                    <!-- Delete Selected -->
                    <div class="row">
                        <div class="raised-container">
                            <form action="/delete" method="post">
                                <div class="row border rounded">
                                    <label class="form-label text-center"><b>Delete Selected Rows:</b></label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <b>Selected Interaction UID: </b><input type="text" id="selectedInteraction" name="selectedInteraction" class="form-field" readonly placeholder="UID">
                                        <br>
                                        <b>Selected Entry UID: </b><input type="text" id="selectedEntry" name="selectedEntry" class="form-field" readonly placeholder="UID">
                                        <input type="submit" value="Delete" class="submit-btn yellow-btn" onclick="return confirm('WARNING: Are you sure you want to delete the selected rows?')">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <br>
                    <!-- Execute -->
                    <div class="row">
                        <div class="raised-container">
                            <form action="/execute" method="post">
                                <div class="row border rounded">
                                    <label class="form-label text-center"><b>Execute an SQLite Command:</b></label>
                                </div>
                                <div class="row border rounded">
                                    <div class="col rounded">
                                        <textarea class="form-control" name="command" id="command" placeholder="Enter a SQlite command here..." cols="80" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="row border rounded">
                                    <div class="col rounded">
                                        <input type="submit" value="Execute" class="submit-btn blue-btn" onclick="return confirm('WARNING: Are you sure you want to execute a command on the database?')">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-8">
            <!-- Interaction Table -->
            <div class="row">
                <div class="table-container">
                    <div class="table-responsive">
                        <table id="data" class="table nowrap table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>TRI Interaction Key</th>
                                    <th>Index</th>
                                    <th>TRI Incident Number</th>
                                    <th>TRI Interaction Number</th>
                                    
                                    <th>MOS Command Description</th>
                                    <th>MOS Rank Code</th>
                                    <th>MOS Full Name</th>
                                    <th>MOS Tax Number</th>
                                    <th>Occurrence Date</th>
                                    <th>Occurrence Time</th>
                                    <th>TRI Level</th>
                                    <th>Encounter Type Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Search:</th>
                                    <th>TRI Interaction Key</th>
                                    <th>Index</th>
                                    <th>TRI Incident Number</th>
                                    <th>TRI Interaction Number</th>
                                    
                                    <th>MOS Command Description</th>
                                    <th>MOS Rank Code</th>
                                    <th>MOS Full Name</th>
                                    <th>MOS Tax Number</th>
                                    <th>Occurrence Date</th>
                                    <th>Occurrence Time</th>
                                    <th>TRI Level</th>
                                    <th>Encounter Type Description</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        
            <!-- Entries Table -->
            <div class="row">
                <div class="table-container">
                    <div class="table-responsive">
                        <table id="entryTable" class="table nowrap table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>TRI Index</th>
                                    <th>TRI Interaction Key</th>
                                    <th>TRI Incident Number</th>
                                    <th>TRI Interaction Number</th>
                                    
                                    <th>Reviewed?</th>
                                    <th>Video of Force Incident</th>
                                    <th>Good?</th>
                                    <th>BWC Command</th>
                                    <th>BWC User at time of incident</th>
                                    <th>Force Incident Serial Number</th>
                                    <th>Force Incident Link</th>
                                    <th>Late Activation</th>
                                    <th>Early Deactivation</th>
                                    <th>Shared with ADA?</th>
                                    <th>Video Categorized as Force Incident</th>
                                    <th>TRI Number entered in Metadata</th>
                                    <th>Multiple Videos of Incident by User</th>
                                    <th>All Evidence Serial Numbers</th>
                                    <th>All Evidence Links</th>
                                    <th>User</th>
                                    <th>Entry Key</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Search:</th>
                                    <th>TRI Index</th>
                                    <th>TRI Interaction Key</th>
                                    <th>TRI Incident Number</th>
                                    <th>TRI Interaction Number</th>

                                    <th>Reviewed</th>
                                    <th>Video of Force Incident</th>
                                    <th>Good</th>
                                    <th>BWC Command</th>
                                    <th>BWC User at time of incident</th>
                                    <th>Force Incident Serial Number</th>
                                    <th>Force Incident Link</th>
                                    <th>Late Activation</th>
                                    <th>Early Deactivation</th>
                                    <th>Shared with ADA</th>
                                    <th>Video Categorized as Force Incident</th>
                                    <th>TRI Number entered in Metadata</th>
                                    <th>Multiple Videos of Incident by User</th>
                                    <th>All Evidence Serial Numbers</th>
                                    <th>All Evidence Links</th>
                                    <th>User</th>
                                    <th>Entry Key</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

{% endblock %}