{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var entries = JSON.parse('{{ entriesRowsJSON | safe }}');
</script>

<script src="{{ url_for('static', filename='scripts/review.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Flashed Message Display -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-message alert alert-{{ messages[0][0] }} show" role="alert">
            {{ messages[0][1] }}
        </div>
    {% endif %}
{% endwith %}

<div class="container-fluid">
    <div class="row">
        <div class="form-col col-4">
            <div class="form-container">
                <form action="/submit_review" method="post">
                    <div class="row border rounded">
                        <div class="col-6">
                            <b>TRI Incident: </b><input type="text" class="form-field" readonly id="incNum" name="incNum" placeholder="Incident #"><br>
                        </div>

                        <div class="col-6">
                            <b>Interaction: </b><input type="text" class="form-field" readonly id="intNum" name="intNum" placeholder="Interaction #"><br>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>VIDEO OF FORCE INCIDENT:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-3">
                                    <input type="radio" name="VIDEO OF FORCE INCIDENT" id="vofiYes" value="YES">
                                    <label class="prevent-select" for="vofiYes">YES</label>
                                </div>
                                <div class="col-3">
                                    <input type="radio" name="VIDEO OF FORCE INCIDENT" id="vofiNo" value="NO"> 
                                    <label class="prevent-select" for="vofiNo">NO</label>
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="VIDEO OF FORCE INCIDENT" id="vofiNV" value="NO VIDEO">
                                    <label class="prevent-select" for="vofiNV">NO VIDEO</label>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>GOOD?</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col">
                                    <input type="radio" name="GOOD" id="goodYes" value="YES">
                                    <label class="prevent-select" for="goodYes">YES</label> 
                                </div>
                                <div class="col">
                                    <input type="radio" name="GOOD" id="goodNo" value="NO">
                                    <label class="prevent-select" for="goodNo">NO</label> 
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>BWC COMMAND: </b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col">
                                    <input type="radio" name="BWC COMMAND" id="bwcComYes" value="YES">
                                    <label class="prevent-select" for="bwcComYes">YES</label> 
                                </div>
                                <div class="col">
                                    <input type="radio" name="BWC COMMAND" id="bwcComNo" value="NO">
                                    <label class="prevent-select" for="bwcComNo">NO</label> 
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>BWC USER AT TIME OF INCIDENT:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col">
                                    <input type="radio" name="BWC USER AT TIME OF INCIDENT" id="bwcUserYes" value="YES"> 
                                    <label class="prevent-select" for="bwcUserYes">YES</label> 
                                </div>
                                <div class="col">
                                    <input type="radio" name="BWC USER AT TIME OF INCIDENT" id="bwcUserNo" value="NO">
                                    <label class="prevent-select" for="bwcUserNo">NO</label>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>FORCE INCIDENT SERIAL NUMBER & LINKS:</b>
                        </div>
                    </div>

                    <div class="row border rounded">
                        <div class="col rounded center-block text-center">
                            <textarea name="fiSerial" id="fiSerial" class="form-control" placeholder="Serial #:" cols="35" rows="1"></textarea>
                        </div>
                        <div class="col rounded center-block text-center">
                            <textarea name="fiLink" id="fiLink" class="form-control" placeholder="Link:" cols="35" rows="1"></textarea>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>LATE ACTIVATION:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="LATE ACTIVATION" id="lateYes" value="YES">
                                    <label class="prevent-select" for="lateYes">YES</label> 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="LATE ACTIVATION" id="lateNo" value="NO">
                                    <label class="prevent-select" for="lateNo">NO</label> 
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>EARLY DEACTIVATION:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="EARLY DEACTIVATION" id="earlyYes" value="YES"> 
                                    <label class="prevent-select" for="earlyYes">YES</label> 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="EARLY DEACTIVATION" id="earlyNo" value="NO">
                                    <label class="prevent-select" for="earlyNo">NO</label> 
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>SHARED WITH ADA?:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="SHARED WITH ADA" id="sharedYes" value="YES"> 
                                    <label class="prevent-select" for="sharedYes">YES</label> 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="SHARED WITH ADA" id="sharedNo" value="NO">
                                    <label class="prevent-select" for="sharedNo">NO</label> 
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>VIDEO CATEGORIZED AS FORCE INCIDENT:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="VIDEO CATEGORIZED AS FORCE INCIDENT" id="catYes" value="YES"> 
                                    <label class="prevent-select" for="catYes">YES</label> 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="VIDEO CATEGORIZED AS FORCE INCIDENT" id="catNo" value="NO">
                                    <label class="prevent-select" for="catNo">NO</label> 
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>TRI NUMBER ENTERED IN METADATA:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="TRI NUMBER ENTERED IN METADATA" id="enteredYes" value="YES"> 
                                    <label class="prevent-select" for="enteredYes">YES</label> 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="TRI NUMBER ENTERED IN METADATA" id="enteredNo" value="NO">
                                    <label class="prevent-select" for="enteredNo">NO</label> 
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>MULTIPLE VIDEOS OF INCIDENT BY USER:</b>
                        </div>
                        <div class="col center-block text-center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" name="MULTIPLE VIDEOS OF INCIDENT BY USER" id="multipleYes" value="YES">
                                    <label class="prevent-select" for="multipleYes">YES</label> 
                                </div>
                                <div class="col-6">
                                    <input type="radio" name="MULTIPLE VIDEOS OF INCIDENT BY USER" id="multipleNo" value="NO">
                                    <label class="prevent-select" for="multipleNo">NO</label> 
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    
                    <div class="row border rounded">
                        <div class="form-label col rounded center-block text-center">
                            <b>ALL EVIDENCE SERIAL NUMBERS & LINKS:</b><br>
                        </div>
                    </div>

                    <div class="row border rounded">
                        <div class="col rounded center-block text-center">
                            <textarea name="allSerial" id="allSerial" class="form-control" placeholder="Serial #:" cols="35" rows="1"></textarea>
                        </div>
                        <div class="col rounded center-block text-center">
                            <textarea name="allLink" id="allLink" class="form-control" placeholder="Links:" cols="35" rows="1"></textarea>
                        </div>
                        <label class="subtle-text">
                            (Comma Seperated)
                        </label>
                    </div>

                    <br>
                    
                    <div class="row">
                        <div class="col rounded center-block text-center">
                            <input type="submit" value="Submit" class="submit-btn purple-btn" onclick="if (document.getElementById('intKey').value == null || document.getElementById('intKey').value == ''){ return confirm('NO INTERACTION HAS BEEN SELECTED!');}else{return confirm('Are you sure the entry is correct?');}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <b>Interaction UID: </b><input type="text" class="form-field" readonly id="intKey" name="intKey" placeholder="UID">
                        </div>
                            <!-- OTHER FORM STUFF THAT DOESNT NEED TO BE SHOWN BUT BE PRESENT ON THE PAGE -->
                            <input type="text" readonly id="dtCreated" name="dtCreated" placeholder="MM/DD/YYYY HH:MM:SS" style="border:0; display: none;">
                            <input type="text" readonly id="interactionIndex" name="interactionIndex" placeholder="interactionIndex" style="border:0; display: none;">
                    </div>

                    <div class="row">
                        <div class="col">
                            <b>Entry UID: </b><input type="text" class="form-field" readonly id="entryUID" name="entryUID" placeholder="UID">
                        </div>

                        <div class="col">
                            <b>User: </b><input type="text" class="form-field" readonly id="user" name="user" placeholder="User">
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="col-8">
            <div class="table-container">
                    <div class="table-responsive">
                        <table id="data" class="table nowrap table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>TRI Interaction Key</th>
                                    <th>TRI Index</th>
                                    <th>TRI Incident Number</th>
                                    <th>TRI Interaction Number</th>
                                    
                                    <th>Reviewed</th>
                                    <th>Video of Force Incident</th>
                                    <th>Good</th>
                                    <th>BWC Command</th>
                                    <th>BWC User at time of incident</th>
                                    <th>Force Incident Serial Number</th>
                                    <th>Force Incident Link</th>
                                    <th>Late Activation</th>
                                    <th>Early Deactivation</th>
                                    <th>Shared with ADA?</th>
                                    <th>Video Categorized as Force Incident</th>
                                    <th>TRI Number entered in Metadata</th>
                                    <th>Multiple Videos of Incident by User</th>
                                    <th>All Evidence Serial Numbers</th>
                                    <th>All Evidence Links</th>
                                    <th>User</th>
                                    
                                    <th>MOS Command Description</th>
                                    <th>MOS Rank Code</th>
                                    <th>MOS Full Name</th>
                                    <th>MOS Tax Number</th>
                                    <th>Occurrence Date</th>
                                    <th>Occurrence Time</th>
                                    <th>TRI Level</th>
                                    <th>Encounter Type Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Search:</th>
                                    <th>TRI Interaction Key</th>
                                    <th>TRI Index</th>
                                    <th>TRI Incident Number</th>
                                    <th>TRI Interaction Number</th>

                                    <th>Reviewed</th>
                                    <th>Video of Force Incident</th>
                                    <th>Good</th>
                                    <th>BWC Command</th>
                                    <th>BWC User at time of incident</th>
                                    <th>Force Incident Serial Number</th>
                                    <th>Force Incident Link</th>
                                    <th>Late Activation</th>
                                    <th>Early Deactivation</th>
                                    <th>Shared with ADA?</th>
                                    <th>Video Categorized as Force Incident</th>
                                    <th>TRI Number entered in Metadata</th>
                                    <th>Multiple Videos of Incident by User</th>
                                    <th>All Evidence Serial Numbers</th>
                                    <th>All Evidence Links</th>
                                    <th>User</th>
                                    
                                    <th>MOS Command Description</th>
                                    <th>MOS Rank Code</th>
                                    <th>MOS Full Name</th>
                                    <th>MOS Tax Number</th>
                                    <th>Occurrence Date</th>
                                    <th>Occurrence Time</th>
                                    <th>TRI Level</th>
                                    <th>Encounter Type Description</th>
                                </tr>
                            </tfoot>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}